<!-- -->
<launch>
  <arg name="minimum_lookahead_distance" default="5.0" doc="Minimum number of lookahead waypoints when searching closest_waypoint"/>

  <node pkg="lane_planner" type="lane_select" name="lane_select" output="log">
    <param name="minimum_lookahead_distance" value="$(arg minimum_lookahead_distance)" />
  </node>
</launch>
